- if @location
  = title("Upcoming Services at #{@location.name}", :h1)

  - if @collection.empty?
    %p No services yet.
  - else
    %table
      = render :partial => 'service', :collection => @collection

  = link_to 'New service', new_location_service_path(@location)
- else
  %h1 Select a location
  %ul
  - @locations.each do |location|
    %li= link_to location.name, location_services_path(location)