.overview.overview-top-left
  %h3 Service details
  %p
    %strong Service Start:
    = @service.start_at.to_formatted_s(:short)
    
  - if @rota_format
    %p== Rota format is #{@rota_format.name}

  - else
  
    - if @rota_formats.empty?
      %p There are currently no saved rota formats.
    - else
      %ul
        - @rota_formats.each do |rota_format|
          %li= link_to rota_format.name, new_service_rota_format_rota_path(@service, rota_format)
        
    = link_to "Create a new rota format", new_rota_format_path, :rel => "facebox"
    
.rota-details
  %h2 Rota
  #participations
    = f.render_associated_form(@rota.participations) unless @rota.participations.empty?

  //= f.add_associated_link "Add position", @rota.participations.build