.participation
  %p
    = f.label :user_id, "Person"
    = f.collection_select :user_id, @users, :id, :name

  %p
    = f.label :position_id, "Position"
    = f.collection_select :position_id, Position.all, :id, :name
    
  = f.remove_link "remove"