%div[rota]
  = rota.service.start_at.to_s
  = rota.team.name
  = rota.service.location
  
  = link_to 'Show', location_rota_path(@location, rota)
  |
  = link_to 'Edit', edit_location_rota_path(@location, rota)
  |
  = link_to 'Destroy', location_rota_path(@location, rota), :confirm => 'Really destroy rota?', :method => :delete
