- if params[:user_id]
  %h1 My Rotas

  - if @rotas.empty?
    %p You haven't been assigned to any rotas at the moment.
  - else
    = render @rotas

- elsif params[:location_id]
  %h1== Rotas for #{@location.name}
  
  - if @rotas.empty?
    %p No rotas assigned to this location currently.
  - else
    = render @rotas
    
  = link_to 'New rota', new_location_rota_path
  
- else
  %h1 All rotas
  = render @rotas