%h1.overview_h1
  .floatr.btn_container
    %span.btn.btn-medium-white= link_to "Cancel", dashboard_path
  = title("Select a service", :span)

#overview-container
  = error_messages_for :rota
  - form_for([@location, @service, @rota]) do |form|
    #locations
      %h3 Locations
      %p
        = form.label :id, "Location"
        = form.collection_select :id, Location.all, :id, :name, {}, :include_blank => true
    
    #services
    
    #formats
    
    #rota
    
    %p= submit_tag "Save"