= error_messages_for :rota

- if @location
  %h1== Rota for #{@location.name}
  - form_for([@location, @rota]) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p= submit_tag "Create"
- elsif @locations
  %h1 Select a location to create a rota
  %ul
    - @locations.each do |location|
      %li= link_to location.name, new_location_rota_path(location)