- if form.object.new_record?
  %p
    = form.label :login
    = form.text_field :login
  %p
    = form.label :password, form.object.new_record? ? nil : "Change password"
    = form.password_field :password

  %p
    = form.label :password_confirmation
    = form.password_field :password_confirmation

- else
  %h2= @user.login

%p
  = form.label :first_name
  = form.text_field :first_name

%p
  = form.label :surname
  = form.text_field :surname

  
%p
  = form.label :email
  = form.text_field :email
    
%p
  = form.label :phone
  = form.text_field :phone
  
%p
  = form.label :location_ids, "Locations"
  = form.collection_select :location_ids, Location.all, :id, :name, {}, :multiple => true

%p
  = form.label :position_ids, "Positions"
  = form.collection_select :position_ids, Position.all, :id, :name, {}, :multiple => true