%p
  = f.label :name
  = f.text_field :name
  
%p
  = f.label :login
  = f.text_field :login

%p
  = f.label :email
  = f.text_field :email
  
%p
  = f.label :password
  = f.text_field :password

%p
  = f.label :password_confirmation
  = f.text_field :password_confirmation
  
%p
  = label :locations, :location_ids, "Locations"
  = collection_select "locations", "location_ids", Location.all, :id, :name, {}, :multiple => true
  
%p
  = label :positions, :position_ids, "Positions"
  = collection_select "positions", "position_ids", Position.all, :id, :name, {}, :multiple => true