%h1.overview_h1
  .floatr.btn_container
    %span.btn.btn-medium-white
      = link_to "Create a new position", new_position_path
  = title("Add a position", :span)

#overview-container
  #positions
    %h2 Current positions
    - if @user.positions.empty?
      %p== #{@user.name} is not linked to any positions yet.
    - else
      %p.positions
        - @user.positions.each do |position|
          = link_to position.name, position_path(position), :rel => "facebox"
          
    %h2== Link a position to #{@user.name}
    - form_for([@user]) do |f|
      = error_messages_for :user
      %p= f.collection_select :position_ids, Position.all, :id, :name, {}, {:multiple => true, :include_blank => false}
      %p= submit_tag "Add"