%h1.overview_h1
  .floatr.btn_container
    %span.btn.btn-medium-white
      = link_to "Set my un-availability", user_unavailabilities_path(current_user)
  = title("Overview", :span)

#overview-container
  .overview.overview-top-left
    %h3 Locations
    - if @user.locations.empty?
      %p You are not linked to any locations yet.
    - else
      %p.locations
        - @user.locations.each do |location|
          = link_to location.name, location_path(location), :rel => "facebox"
    
    %h3 Roles:
    - if @user.positions.empty?
      %p You are not linked to any roles yet.
    - else
      %p.positions
        - @user.positions.each do |position|
          = link_to position.name, position_path(position), :rel => "facebox"
      
  #upcoming_schedule
    %h2 Upcoming Positions
    - if current_user.participations.future.empty?
      %p You have no upcoming positions at the moment.
    - else
      %table
        - current_user.participations.future.each do |participation|
          - row_class = cycle("odd","even")
          %tr{:class=>row_class}
            %td
              %span{:class=>participation.state.to_s}= participation.state.to_s.titleize
            %td.date= participation.rota.service.start_at.to_formatted_s(:short)
            %td.location= h participation.rota.service.location.name
            %td.position= h participation.position.name
            %td.actions- actions_for_participation(participation)
  
  #unavailability
    %h2 Un-Availability
    - if current_user.unavailabilities.future.empty?
      %p There are currently no dates where you're unavailable. Great.
    - else
      %table
        %thead
          %tr
            %th From
            %th To
        %tbody
          - current_user.unavailabilities.future.each do |unavailable|
            - row_class = cycle("odd","even")
            %tr{:class=>row_class}
              %td.from= unavailable.from.to_formatted_s(:short)
              %td.to= unavailable.to.to_formatted_s(:short)